body{
	background: url("../images/background.jpg") fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	overflow: hidden;
	cursor: crosshair;
}

hr{
	border-width: 2px;
    width: 100%;
    border-color: black;
    margin-top: 0;
    position: absolute;
    top: 18%;
}
#chicken1, #chicken2, #chicken3, #chicken4{
    width: 14%;
    height: 20%;
    margin-right: 8%;
    margin-top: 2%;
}
#chicken1{
	margin-left: 7%;
}
#basket{
	position: absolute;
	bottom: 0; 	
	left: 0;
	width: 11%;
	height: 16%;
}
#egg{
	position: absolute;
	top: 20%;
}
#brokenegg{
	position: absolute;
	bottom: 0;
	height: 52px;
}

#scorediv{
	font-size: 900%;
    border-style: dashed;
    border-width: 10px;
    text-align: center;
    margin: auto;
    opacity: 0.5;
    margin-top: 7%;
    width: 60%;
    color: black;
    border-color: black;
}

#lives{
	background-color: #76C5F5  ;
	position: absolute;
	top: 1%;
	right: 1%;
	border-radius: 10px;
	padding: 0.6% 1%;
	width: 113px;
	height: 45px;
}

.life{
	padding: 4%;
}